In [36]:
import pandas as pd
import numpy as np
import datetime as dt

In [3]:
data1 = dt.date(1999,12,31)
data2 = dt.date(2002,8,22)
data3 = dt.date(2015,4,14)
data4 = dt.date.today()

print(data1)
print(data2)
print(data3)
print(data4)

1999-12-31
2002-08-22
2015-04-14
2024-05-17

In [5]:
print(data3>data4)
print(data4>data1)
print(data4==data2)

False
True
False

In [10]:
diff=data4-data1
print(diff)
print(diff.days)
anos=diff.days/365
print(round(anos,0))

8904 days, 0:00:00
8904
24.0

In [11]:
pd.Timestamp('9/1/2019 10:05AM')

Timestamp('2019-09-01 10:05:00')

In [15]:
pd.Timestamp(2019,12,20,10,52,23)

Timestamp('2019-12-20 10:52:23')

In [13]:
pd.Timestamp(2024,5,22,10,45,2).isoweekday()

3

In [15]:
pd.Timestamp(2024,5,22)-pd.Timestamp(2024,3,13)

Timedelta('70 days 00:00:00')

In [19]:
pd.Timestamp(2024,5,17,0,0,25).second

25

In [12]:
pd.Timestamp(2023,5,20).minute

0

**Period**

In [17]:
pd.Period('1/15/2016')

Period('2016-01-15', 'D')

In [3]:
pd.Period('12/25/2002')-10

Period('2002-12-15', 'D')

In [26]:
pd.Period('1/2016')+5

Period('2016-06', 'M')

**Datetimeindex and PeriodIndex**

In [30]:
t1=pd.Series(list('abc'), [pd.Timestamp('2016-09-01'),pd.Timestamp('2016-09-02'),pd.Timestamp('2016-09-03')])
t1

2016-09-01    a
2016-09-02    b
2016-09-03    c
dtype: object

In [32]:
type(t1.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [34]:
t2=pd.Series(list('def'), [pd.Timestamp('2016-09'),pd.Timestamp('2016-10'),pd.Timestamp('2016-11')])
t2

2016-09-01    d
2016-10-01    e
2016-11-01    f
dtype: object

In [35]:
type(t2.index)

pandas.core.indexes.datetimes.DatetimeIndex

Converting to DateTime

In [37]:
d1=['2 June 2013','Aug 29, 2014','2015-06-26','7/12/16']

ts3=pd.DataFrame(np.random.randint(10,200,(4,2)), index=d1,columns=list('ab'))
ts3

                a    b
2 June 2013   199  107
Aug 29, 2014  194   70
2015-06-26     28  112
7/12/16       136  161

In [39]:
ts3.index=pd.to_datetime(ts3.index)
ts3

              a    b
2013-06-02  199  107
2014-08-29  194   70
2015-06-26   28  112
2016-07-12  136  161

In [40]:
pd.to_datetime('4,7,12', dayfirst=True)

Timestamp('2012-07-04 00:00:00')

Time Delta

In [43]:
pd.Timestamp('2012-07-04')-pd.Timestamp('2010-07-04')

Timedelta('731 days 00:00:00')

In [44]:
pd.Timestamp('9/2/2016 8:10AM') + pd.Timedelta('12D 3H')

Timestamp('2016-09-14 11:10:00')

**Offset**

In [47]:
pd.Timestamp('9/5/2023').weekday()

1

In [53]:
pd.Timestamp('9/5/2023') + pd.offsets.MonthEnd()

Timestamp('2023-09-30 00:00:00')

In [56]:
pd.Timestamp(dt.datetime.now()) + pd.offsets.MonthEnd()

Timestamp('2024-05-31 12:14:54.171443')

In [55]:
x=pd.Timestamp(dt.datetime.now()) +pd.offsets.MonthEnd()
y=x-pd.Timestamp(dt.datetime.now())
print(y)

9 days 00:00:00

In [23]:
y=pd.offsets.__all__
for x in y:
    print(x)

Day
BaseOffset
BusinessDay
BusinessMonthBegin
BusinessMonthEnd
BDay
CustomBusinessDay
CustomBusinessMonthBegin
CustomBusinessMonthEnd
CDay
CBMonthEnd
CBMonthBegin
MonthBegin
BMonthBegin
MonthEnd
BMonthEnd
SemiMonthEnd
SemiMonthBegin
BusinessHour
CustomBusinessHour
YearBegin
BYearBegin
YearEnd
BYearEnd
QuarterBegin
BQuarterBegin
QuarterEnd
BQuarterEnd
LastWeekOfMonth
FY5253Quarter
FY5253
Week
WeekOfMonth
Easter
Tick
Hour
Minute
Second
Milli
Micro
Nano
DateOffset

In [57]:
opções = [print(x) for x in pd.offsets.__all__]
opções

Day
BaseOffset
BusinessDay
BusinessMonthBegin
BusinessMonthEnd
BDay
CustomBusinessDay
CustomBusinessMonthBegin
CustomBusinessMonthEnd
CDay
CBMonthEnd
CBMonthBegin
MonthBegin
BMonthBegin
MonthEnd
BMonthEnd
SemiMonthEnd
SemiMonthBegin
BusinessHour
CustomBusinessHour
YearBegin
BYearBegin
YearEnd
BYearEnd
QuarterBegin
BQuarterBegin
QuarterEnd
BQuarterEnd
LastWeekOfMonth
FY5253Quarter
FY5253
Week
WeekOfMonth
Easter
Tick
Hour
Minute
Second
Milli
Micro
Nano
DateOffset

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

**Working with Dates in a DataFrame**

In [54]:
dates=pd.date_range('10-01-2016', periods=9,freq='2w-SUN')
dates

DatetimeIndex(['2016-10-02', '2016-10-16', '2016-10-30', '2016-11-13',
               '2016-11-27', '2016-12-11', '2016-12-25', '2017-01-08',
               '2017-01-22'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [55]:
dates2=pd.date_range('10-01-2016', periods=9,freq='B')
dates2

DatetimeIndex(['2016-10-03', '2016-10-04', '2016-10-05', '2016-10-06',
               '2016-10-07', '2016-10-10', '2016-10-11', '2016-10-12',
               '2016-10-13'],
              dtype='datetime64[ns]', freq='B')

In [56]:
dates3=pd.date_range('10-01-2016', periods=12,freq='QS-JUN')
dates3

DatetimeIndex(['2016-12-01', '2017-03-01', '2017-06-01', '2017-09-01',
               '2017-12-01', '2018-03-01', '2018-06-01', '2018-09-01',
               '2018-12-01', '2019-03-01', '2019-06-01', '2019-09-01'],
              dtype='datetime64[ns]', freq='QS-JUN')

In [59]:
dates=pd.date_range('10-01-2016', periods=9,freq='2w-SUN')
df=pd.DataFrame({'Count 1': 100 + np.random.randint(-5,10,9).cumsum(),
               'Count2': 120 + np.random.randint(-5,10,9)}, index=dates)
df

            Count 1  Count2
2016-10-02       98     126
2016-10-16       94     128
2016-10-30       93     126
2016-11-13       93     116
2016-11-27       97     118
2016-12-11       94     124
2016-12-25       89     118
2017-01-08       92     115
2017-01-22      101     118

In [61]:
df.index.weekday_name

AttributeError: 'DatetimeIndex' object has no attribute 'weekday_name'

In [62]:
df.diff()

            Count 1  Count2
2016-10-02      NaN     NaN
2016-10-16     -4.0     2.0
2016-10-30     -1.0    -2.0
2016-11-13      0.0   -10.0
2016-11-27      4.0     2.0
2016-12-11     -3.0     6.0
2016-12-25     -5.0    -6.0
2017-01-08      3.0    -3.0
2017-01-22      9.0     3.0

In [64]:
df.resample('M').mean()

            Count 1      Count2
2016-10-31     95.0  126.666667
2016-11-30     95.0  117.000000
2016-12-31     91.5  121.000000
2017-01-31     96.5  116.500000

In [65]:
df['2017']

C:\Users\hiros\AppData\Local\Temp\ipykernel_116872\1797912031.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  df['2017']

            Count 1  Count2
2017-01-08       92     115
2017-01-22      101     118

In [66]:
df['2016-12']

C:\Users\hiros\AppData\Local\Temp\ipykernel_116872\2391205231.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  df['2016-12']

            Count 1  Count2
2016-12-11       94     124
2016-12-25       89     118

In [68]:
df['2016-12':]

            Count 1  Count2
2016-12-11       94     124
2016-12-25       89     118
2017-01-08       92     115
2017-01-22      101     118